.titulo-app {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.app {
  padding-bottom: 3rem;
}

.app-contenido {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.app-bloque1 {
  flex: 1;
  text-align: center;
}

.app-bloque2 {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.imagen-app {
  border-radius: 0.5rem;
}

.imagen-logos {
  padding-bottom: 3rem;
}

.button-descargar-app {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffd166;
}

.button-descargar-app:hover {
  background-color: #f5b31b;
}
