body {
  margin: 0;
  padding: 0;
  background-color: #52b788;
}

.inicio {
  padding-top: 6rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inicio_contenido {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: start;
  width: 100%;
}

.inicio-bloque1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inicio-bloque1 h2 {
  font-size: 3rem;
}

.inicio-bloque1 img {
  border-radius: 0.5rem;
  padding-bottom: 3rem;
}

.inicio-bloque1 p {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 2rem;
}

.inicio-bloque2 {
  flex: 1;
  background-color: aliceblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.bloque-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.bloque-subcard1 {
  flex: 1;
  text-align: center;
}

.bloque-subcard2 {
  flex: 0.5;
  text-align: left;
}

.botones-inicio {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: #ffd166;
  color: #333333;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.botones-inicio:hover {
  background-color: #f1b322;
}
