.titulo-nosotros {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.nosotros {
  padding-bottom: 3rem;
}

.nosotros-contenido {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.nosotros-contenido img {
  border-radius: 1rem;
}

.nosotros-parrafos {
  font-size: 1.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.mision-vision {
  background-color: aliceblue;
  border-radius: 2rem;
}
