.titulo-perfil {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.perfil-contenido {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  widht: 100%;
  padding-bottom: 3rem;
}

.perfil-bloque1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-bloque1 img {
  padding-bottom: 2rem;
}

.boton-modificar-foto {
  cursor: pointer;
  background-color: #ffd166;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 0.5rem;
}

.boton-modificar-foto:hover {
  background-color: #f1b322;
}

.formulario-perfil {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-grupo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-grupo-notificacion {
  display: flex;
  flex-direction: row;
}

.form-grupo .input-perfil {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 400px;
}

.label-perfil {
  font-size: 1.5rem;
}

.boton-guardar-cambios {
  cursor: pointer;
  background-color: #ffd166;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 0.5rem;
  width: 425px;
}

.boton-guardar-cambios:hover {
  background-color: #f1b322;
}
